@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-label{
  @apply block text-xs font-bold text-gray-700;
}

.d2c{
  background: #e00b33;
  background: linear-gradient(90deg, #e00b33 15%, #a1049f 100%);
}
.c2d{
  background: #e00b33;
  background: linear-gradient(0deg, #e00b33 15%, #a1049f 100%);
}

select{
  @apply my-1 px-2 py-2 border-gray-500 rounded-md shadow-sm bg-gray-50 text-gray-900
}