@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-label{
  @apply block text-xs font-bold text-gray-700;
}

.d2c{
  background: linear-gradient(270deg, #456b36 15%, #2350c3 100%);
}
.c2d{
  background: linear-gradient(0deg, #31325d 15%, #2350c3 100%);
}

.a2b{
  background: linear-gradient(0deg, #1e1e1e 15%, #323232 100%);
}

input:-webkit-autofill {
  /* caret-color: black; */
  color: black;
  /* webkit autofill */
  -webkit-text-fill-color: black; 
  /* -webkit-background-clip: text;  */
  box-shadow: 0 0 0 50px white inset; 
}

select, input{
  @apply bg-gray-50 text-gray-900 my-1 px-4 py-2 border-gray-500 focus:border-fuchsia-500 focus:ring focus:ring-fuchsia-500 focus:ring-opacity-50 rounded-md shadow-sm
}

option{
  @apply inline-block;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

td, th {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
